<div
  class="festival-care-detail"
  [style]="isEditing || isFirstEnter ? style : {}"
  *ngIf="detail?.isOpen"
>
  <festival-header [reason]="detail?.reason"></festival-header>
  <festival-container
    [detail]="detail"
    [isEditing]="isEditing"
    [isIphoneX]="isIphoneX"
    [sceneStyle]="sceneStyle"
    [sceneText]="sceneText"
    (editEvent)="onEdit()"
    (setSceneStyle)="setSceneStyle($event)"
    (setSceneText)="setSceneText($event)"
  ></festival-container>
  <festival-footer
    *ngIf="!isEditing"
    (onEdit)="onEdit()"
    (onShare)="changeShare()"
    (onCreatePoster)="onCreatePoster()"
  >
  </festival-footer>
</div>

<!-- 编辑弹窗 -->
<festival-text-edit
  *ngIf="isEditing && detail && sceneStyle && sceneText"
  [layoutType]="sceneStyle.layoutType"
  [fontFamily]="sceneText.fontFamily"
  [texts]="sceneText.text"
  [customerInfo]="customerInfo"
  (onCancel)="onCancel()"
  (onSave)="onSave($event)"
></festival-text-edit>

<!-- 分享弹窗 -->
<festival-share
  *ngIf="isShare"
  [isShare]="isShare"
  (onCancel)="changeShare()"
  (onShare)="onShare($event)"
></festival-share>

<!-- 无数据 -->
<festival-no-data
  *ngIf="(!detail?.isOpen && !isLoading) || !linkParameters['id']"
></festival-no-data>

<!-- 首次进入提示 -->
<festival-tips [isFirstEnter]="isFirstEnter" (onCancel)="onCloseMask()"></festival-tips>

<!-- 海报用来生成图片 -->
<festival-html2canvas
  [sceneStyle]="sceneStyle"
  [sceneText]="sceneText"
  [managerInfo]="managerInfo"
></festival-html2canvas>

<!-- 海报弹框 -->
<festival-poster-model
  [showModel]="showModel"
  [grid]="grid"
  (close)="closeModel()"
  (touchStart)="touchStart()"
  (touchEnd)="touchEnd()"
></festival-poster-model>
