<div class="festival-care-preview" *ngIf="detail">
  <div
    class="posterWrap"
    [style.backgroundColor]="detail.backgroundColor"
    [class]="detail.layoutType === 4 ? 'posterShortWrap' : ''"
  >
    <img class="poster" [src]="detail.pic" alt="" />
    <div
      class="logoWrap"
      [class]="detail.logoLocation"
      *ngIf="detail.isOpenLogo"
    >
      <img class="corpLogo" [src]="detail.logoUrl" />
    </div>
    <festival-text-layout
      [texts]="detail.texts"
      [layoutType]="detail.layoutType"
      [style]="style"
    ></festival-text-layout>
  </div>
</div>
